// COLORS

$primary: #57419D;
$dark: #333;                 
$light: #fff;                
$gray: #C7C7C7;
$gray2: #828282              
$bg-light: #F5F5FA;
$bg-button-light: #F5F5F9      
$dark-shadow: #a8a8a8
$light-shadow: #ffffff


// FONTS

$font-sm: 14px;
$font-md: 16px;
$font-lg: 22px;
$font-xl: 28px;