@use '../Styles/variables'

.details 
    max-width: 500px;
    height: 100vh
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);


    &__header 
        position: relative; 
        height: 250px;
        z-index: 1; 

    &__svg-background
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

    &__image 
        position: absolute;
        bottom: 0
        left: 50%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 3; 

    &__content 
        position: relative;
        z-index: 2;
        height: 100%
        background-color: white; 
        padding: 20px;  
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        
    &__content-header 
        margin-bottom: 30px;
    
    &__info
        margin-bottom: 15px
        display: flex
        gap: 4rem

    &__breed,
    &__gender
        display: flex
        align-items: center
        gap: 0.5rem
        
    &__title 
        font-size: 2em;
        margin-bottom: 5px;
        

    &__location 
        color: #777;
        

    &__description
        line-height: 1.6
        margin-bottom: 30px;
        

    &__button 
        display: block;
        width: 100%;
        padding: 15px;
        background-color: variables.$primary;
        color: white;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        font-weight: bold;
        
    
